.panel-body {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.auth-title {
    font-size: 20px;
    font-family: monospace;
}
.auth-label {
    margin: 10px;
    font-family: monospace;
}
.auth-input {
    width: 95%;
    padding: 3px;
    border: 0px ;
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #000;
}
.auth-a {
    text-decoration: none;
    font-family: monospace;
}
.auth-a:hover {
    color: #FF0000;
}
.auth-btn-group {
    margin-top: 10px;
}
.auth-btn {
    margin: 3px;
    background: #FFF;
    border-radius: 2px;
    border: 1px solid #000;
    font-family: monospace;
}
.auth-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(61,61,61);
}
